$primary-green: #81bb33;
$blue-1:#e0eaf1;
$blue-2: #0e72b5;
$white: #fff;
$black: #000;
$black-2: #222222;
$grey-100:#435261;
$grey-95:#2e3134;
$grey-90: #575757;
$grey-80:#515151;
$grey-50:#838383;
$grey-20: #dbdbdb;
$grey-10:#efefef;
$input-text-color: #7d8083;
$light-grey-bg:#f4f5f7;
$transition: all 0.5s;
$footer-copyright:#c9d3dd;
$footer-input-text:#bbc2c7;
$facebook-logo:#4267B2;
$google-plus-logo:#dd4b39;
